.example-icon {
  font-weight: normal;
  font-size: medium;
  margin-right: 3%;
}

.app-title {
  margin-right: 2%;
  cursor: pointer;
}

.login-button {
  margin-left: auto;
}

.icon-text {
  margin-left: 5px;
}
