<div class="container">
  <img [src]="car.image" alt="Car image">
  <div class="wrapper">
    <h1 class="price">{{ car.price | currency }}</h1>
    <div *ngIf="isLoggedIn" class="like-button">
      <button *ngIf="!isFavorite" mat-raised-button color="primary" (click)="like()">LIKE</button>
      <button *ngIf="isFavorite" mat-raised-button color="primary" (click)="unlike()">UNLIKE</button>
    </div>
  </div>
  <mat-card>
    <h2>Description</h2>
    <p>{{car.description}}</p>
  </mat-card>
  <mat-card>
    <h2>Basics</h2>
    <mat-card-content>
      <h3>Fuel: {{car.fuel}}</h3>
      <h3>Transmission: {{car.transmission}}</h3>
      <h3>Type: {{car.type}}</h3>
      <h3>Horse Power: {{car.hp}}</h3>
      <h3>Production Year: {{car.productionYear}}</h3>
    </mat-card-content>
  </mat-card>
</div>
