<form class="form" [formGroup]="filterGroup" (ngSubmit)="filter()">
  <mat-form-field appearance="fill">
    <mat-label>Brand</mat-label>
    <mat-select formControlName="brand">
      <mat-option *ngFor="let brand of brands" [value]="brand">
        {{brand.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Transmission</mat-label>
    <mat-select formControlName="transmission">
      <mat-option *ngFor="let transmission of transmissions" [value]="transmission">
        {{ transmission }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <input matInput placeholder="Max price" formControlName="maxPrice">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" class="filter-option">Filter</button>

  <button mat-icon-button class="filter-option" (click)="cancelFilters()">
    <mat-icon>close</mat-icon>
  </button>
</form>

<div class="container">
  <a *ngFor="let car of cars | async" [routerLink]="['/detail', car.id]">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>{{car.brand.name}}  {{car.model.name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="car.image" alt="Car photo">
      <mat-card-content>
        <p class="description">{{ car.description }}</p>
      </mat-card-content>
      <mat-card-footer>
        <h2 class="price">{{car.price | currency }}</h2>
      </mat-card-footer>
    </mat-card>
  </a>
</div>
